<html>
  <head>
    <title>Undead Music API</title>
  </head>
  <body>
    <h1>Undead Music API</h1>

    <p>Documentation coming soon... checkout <a target="_blank" href="http://github.com/semanticart/undead-music-api">the undead music api on github</a> or just go play around with the <a href="http://undeadmusic.semanticart.com">Undead Music App</a>.</p>

    <p>The Undead Music API is powered by nginx, ruby, sinatra, and mongodb.  Huzzah!</p>
  </body>
</html>
