<html>
  <head>
    <title>Undead Music API</title>
  </head>
  <body>
    <h1>Undead Music API</h1>

    <p>Documentation coming soon... checkout <a target="_blank" href="http://github.com/semanticart/undead-music-api">the undead music api on github</a>.</p>
  </body>
</html>
